* {
    font-family: monospace;
}

body {
    background-color: #e6ecfa;
    font-size: 120%;
    position: relative;
    text-align: center;
}

#main-content {
    background-color: #ffffff;
    display: inline-flex;
    flex-wrap: wrap;
    height: calc(100% - 8em);
    margin: 2em;
    max-width: 768px;
    padding: 2em;
    position: relative;
    text-align: left;
    width: calc(100% - 8em);
}

.title {
    font-size: 2em;
    width: 100%;
}

#footer {
    bottom: 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #main-content {
        margin: 0;
        padding: 1em;
        width: calc(100% - 2em);
    }
}
