* {
    font-family: monospace;
}

body {
    background-color: #e6ecfa;
    font-size: 120%;
    text-align: center;
}

#main-wrapper {
    background-color: #ffffff;
    height: calc(100% - 8em);
    margin: 2em auto;
    max-width: 768px;
    padding: 2em;
    text-align: left;
    width: calc(100% - 8em);
}

#main-content {
    display: inline-flex;
    flex-wrap: wrap;
}

.title {
    font-size: 2em;
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#footer {
    bottom: 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #main-wrapper {
        margin: 0 0 2em 0;
        padding: 1em;
        width: calc(100% - 2em);
    }
}
